@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

* {
    box-sizing: border-box;
}

body {
    
    font-family: 'Roboto Mono', monospace;
    
    margin: 10px;
    text-align: center;
}

h1 {
    margin: 1em;
    color: #272823;
    text-align: center;
}


/* small view navigation */
#hamButton {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: fit-content;
	font-size: 1.5rem;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0.5rem;
	color: navy;
}

.navigation li {
	display: none;
}
.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}
.navigation.responsive li a {
	display: block;
}

header {
    background-color: #3e3f32;
}

.header-container {
    display: grid;
    grid-template-columns:auto;
	
}
.image-heading {
    grid-column: 1;
	display: flex;

}
.logo {
	margin: 20px;
	border-radius: 100px;
	min-width: none;
	
	

}
.socio-media-icon {
	grid-column: 3;
	

}
.social-logo-facebook{
    margin-top: 20px;
	border-radius: 10px;
	width: 20%;
}
.social-logo-linkedin{
    margin-top: 20px;
	margin-right: 50px;
	border-radius: 10px;
	width: 20%;
}
.navigation {
	grid-column: 2;
	display: flex;
}

footer {
    background-color: #3e3f32;
    display: block;
    text-align: center;
    color: aliceblue;
    font-size: 1em;
    padding: 10px;
  }
